.product-details-page{
    display: flex;
    width: 50%;
    flex-direction: column;
    background: #fff;
    border-radius: 0.5rem;
    box-shadow : rgba(50,50,93,.02) 0 2px 5px -1px, rgba(0,0,0,.05) 0 1px 3px -1px;
    margin-top: 1.5rem;
    margin-left: 25%;
    margin-right: 25%;
}
.product-detail-header{
    margin-left: 25%;
    margin-right: 25%;
    flex-direction: column;
    display: flex;
    align-items: center;
}
.product-form-input-field{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 1rem;
}
.product-form-row{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    gap:1rem
}