
.login-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    
    background-repeat: no-repeat;
    background-size: cover;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 20rem;
    font-family: "Plus Jakarta Sans" !important;
    background-color: white;
    padding: 0rem 0rem 2rem 0rem;
    
}

.login-form img {
    margin-left: 25%;
}

.login-form-input {
    display: flex;
    flex-direction: column;
    
    /* background-color: rgba(255, 255, 255, 0.2); */
}
.email-input {
    margin-bottom: 2rem;
    height: 4rem;
}
.password-input {
    margin-bottom: 2rem;
    height: 4rem;
}
.role-input {
    margin-bottom: 2rem;
    height: 4rem;
}

.login-form-button {
    
    align-self: center;
    width: 100%;


}

.login-form-header h5 {
    font-family: "Plus Jakarta Sans" !important;
    font-weight: 600;
    margin-bottom: 2rem;
}